set timeout=5

if [ "$grub_platform" = "pc" ] ; then
 insmod vbe                        # загружаем модуль для BIOS
else
 insmod efi_gop                    # или для EFI
 insmod efi_uga
fi  
loadfont $prefix/fonts/unicode.pf2  # загружаем шрифт
set gfxmode=auto
set gfxpayload=$gfxmode
insmod gfxterm                      # загружаем модуль графического терминала
terminal_output gfxterm             # эта команда запускает графику

menuentry "Arch Linux" {
	linux /boot/vmlinuz-linux root=/dev/sdb2
	initrd /boot/initramfs-linux.img
}
