[user]
	email = blacklacost@gmail.com
	name = Ilya Lisin

[init]
	defaultBranch = "main"

[core]
	editor = "code -w"
	autocrlf = input
	safecrlf = false

[format]
	pretty = oneline

[pull]
	rebase = true

[alias]
	ca = "!git add .;git commit"
	hist = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hista = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all