[user]
email = blacklacost@gmail.com
name = Ilya Lisin

[core]
editor = "code -w"
eol = lf
autocrlf = false
safecrlf = warn
quotepath = false

[format]
pretty = oneline

[pull]
rebase = true
[init]
defaultBranch = main
[credential]
helper = manager-core
[credential "helperselector"]
	selected = manager-core
[push]
default = simple

[safe]
	directory = C:/Users/black/.dotfiles
